/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#1e588c;
    color: #333;
}

h2 {
    color: #ffffff; /* Updated to #1e588c */
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(111, 111, 154, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #1e588c; /* Updated to #1e588c */
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="number"]:focus {
    border-color: #1e588c; /* Updated to #1e588c */
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1e588c; /* Updated to #1e588c */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4b2b;
}

#co_achievement {
    font-weight: bold;
    color: #1e588c; /* Updated to #1e588c */
}

/* Responsive Design */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    input[type="number"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}